.main {
    background-color: #121212;
    width: 80%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 93px;
}

.body {
    margin: 0px auto;
    padding: 0px auto;
}

.login{
    width: 50%;
    border-radius: 12px;
    border: 1px solid #fff;
    min-height: 300px;
    margin-left: 24.5%;
    
}

.login h3 {
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.login form p{
    text-align: center;
}

.login form label{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2%;    
}

.login form input{
    margin-left: 2%;
    width: 95%;
    font-size: 16px;
    color: blue;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.login form button{
    background-color: blue;
    width: 50%;
    height: 30px;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 25%;
    border-radius: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-self: center;
}

